/.vscode
/38833FF26BA1D.UnigramPreview_g9c9v27vpyspw!App
/desktop.ini
/Git-2.55.0.4-64-bit.exe
/GitHubDesktopSetup-x64 (1).exe
/GitHubDesktopSetup-x64 (2).exe
/GitHubDesktopSetup-x64.exe
/InstallationLog.txt
/matrix2.exe
/msys2-x86_64-20260611.exe
/new.c
/new.exe